ENV = local
BASE_URL = http://localhost
HOST = localhost
PORT = 9001
IS_SECURE = false
SSL_CERT_BASE_PATH =

APP_URL_ADMIN = http://localhost:9001

MONGO_DB_URL = 

APP_NAME = Unlimited NOW

MAIL_HOST = 
MAIL_PORT = 
MAIL_USERNAME = 
MAIL_PASSWORD = 
MAIL_ENCRYPTION = 